<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mia.smartlight">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.wifi" />

    <application
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@mipmap/ic_lightbulb_outline_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.mia.smartlight.receiver.NetworkChangeReceiver"
            android:enabled="true"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.supplicant.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.mia.smartlight.receiver.AlarmReceiver"
            android:enabled="true">
        </receiver>

        <service android:name="com.mia.smartlight.service.GeofenceTransitionsIntentService" />
        <service android:name="com.mia.smartlight.service.AlarmIntentService" />
        <service android:name="com.mia.smartlight.service.ConnectivityIntentService" />

        <activity
            android:name=".activity.LampActivity"
            android:label="@string/title_activity_lamp"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mia.smartlight.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.AlarmActivity"
            android:label="@string/title_activity_alarm"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mia.smartlight.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.LocationActivity"
            android:label="@string/title_activity_location"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mia.smartlight.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mia.smartlight.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mia.smartlight.activity.MainActivity" />
        </activity>

    </application>

</manifest>